# Panda supports loading data from multiple file formats

In [12]:
import pandas as pd

#Retunerar en dataFrame

"""Nedan så visas hur man kan importera data från olika filtyper
samt visa x antal första, x antal sista, eller slumpvist valda.
Därefter så visas kod för om man vill se alla kolumner och rader utsktivna eller hur många."""

pokemons = pd.read_csv("Data/datapoints.csv")

#Ger fem sista som default
pokemons.head()

# Ger fem sista som default
pokemons.tail()

#Ger slumpmässig rad
pokemons.sample(5)

#Visar alla kolumner i utskriften. Är oftast inte så många.
#pd.set_option("display.max_columns", None)
pokemons

#Visar alla rader om "None" annars ,5 eller ,4 eller hur många rader man vill visa 
pd.set_option("display.max_rows", None)
pokemons


""".shape visar hur många rader och kolumner en dataFrame (datatabell) innegåller. Det är en tuple
så man kan unpacka rows och columns så att de blir till egna variabler"""

#
rows, columns= pokemons.shape
rows
columns

#Alternativt ger detta dataFramens antalet rows.
#len(pokemons)

#Följande ger antalet kolumner.
#len(pokemons.columns)

"""Alltså kan man använda .shape eller len() för att kolla antalet rader och kolumner i en dataFrame."""

#Ger information om dataFramen exv vilka datatyper den innehåller, om data saknas. Hur många rader och kolumner.

#pokemons.info()

pokemons

""" Sammanfattning:
I denn fil har vi gått igenom:
- Börja med att importera panda biblioteket alltid "import pandas as pd"
- Hur man laddar in en fil i kodmiljön som finns sparad i en mapp. Du behöver bara skriva in filsökvägen.
- Hur du visar rader från en dataframe, de första, sista eller slunpvalda.
- Hur du ändrar inställningen hur många rader/kolumner som ska visas på skärmen. 
- kommando som visar antalet rows och columns som en tuple som man kan unpacka eller genom len() kommando.
- Även kommando för att gå en sammanställning om dataframen. 

Alltså hur man importerar en fil från mappen till kodmiljön, hur man visar specifika rader, hur många rader som visas upp, info om datat. Alltså översiktligt.

"""

pokemons

     (width (cm)   height (cm)   label (0-pichu   1-pikachu))
0      21.959384     31.239567                0           NaN
1      23.635916     36.468215                1           NaN
2      17.714056     31.441704                0           NaN
3      21.780200     33.213398                1           NaN
4      25.206306     36.558816                1           NaN
5      19.332572     32.253256                0           NaN
6      24.736457     35.332912                1           NaN
7      23.792576     38.103728                1           NaN
8      24.557613     36.731444                1           NaN
9      20.191281     35.069669                0           NaN
10     25.813563     35.561030                1           NaN
11     24.923379     34.463908                1           NaN
12     25.311244     34.117213                1           NaN
13     22.819091     34.255164                1           NaN
14     19.639358     34.561170                0           NaN
15     18.341233     31.399261                0           NaN
16     22.723629     34.838453                1           NaN
17     25.829368     33.162102                1           NaN
18     20.238902     32.789451                0           NaN
19     17.905129     28.888134                0           NaN
20     24.385290     37.335669                1           NaN
21     26.525413     35.219221                1           NaN
22     19.299333     30.486338                0           NaN
23     20.118682     31.891167                0           NaN
24     22.980963     35.319182                1           NaN
25     17.969262     32.484066                0           NaN
26     21.586318     30.975094                0           NaN
27     18.659637     33.044929                0           NaN
28     19.209914     31.420356                0           NaN
29     18.162291     29.936438                0           NaN
30     19.120620     30.699542                0           NaN
31     25.176761     34.393601                1           NaN
32     18.583517     31.317010                0           NaN
33     24.688671     35.363482                1           NaN
34     23.028660     35.408287                1           NaN
35     20.282109     33.187961                0           NaN
36     17.672877     32.672478                0           NaN
37     20.795122     32.493052                0           NaN
38     20.101931     31.191904                0           NaN
39     20.392044     32.087742                0           NaN
40     23.868174     35.449698                1           NaN
41     26.388368     35.620907                1           NaN
42     25.567803     35.666316                1           NaN
43     23.990710     35.064113                1           NaN
44     23.792145     35.107650                1           NaN
45     24.111064     31.418268                1           NaN
46     20.098955     33.067467                0           NaN
47     20.888100     32.644005                0           NaN
48     24.587154     35.613972                1           NaN
49     21.659569     36.819075                1           NaN
50     18.598433     32.609445                0           NaN
51     21.069573     32.219366                0           NaN
52     24.872260     36.149522                1           NaN
53     20.276898     33.846582                0           NaN
54     19.592546     30.593927                0           NaN
55     20.323270     32.295748                0           NaN
56     21.350186     33.947087                0           NaN
57     20.156906     31.639314                0           NaN
58     18.929553     33.331523                0           NaN
59     22.121125     34.690328                1           NaN
60     19.499062     31.139579                0           NaN
61     26.517189     34.701132                1           NaN
62     23.388323     36.770000                1           NaN
63     20.579091     30.771060                0           NaN
64     20.240420     33.876541                1           NaN
65     24.590970     33.618597                1           NaN
66     25.116587     36.201219                1           NaN
67     25.557502     36.392466                1           NaN
68     24.387652     33.282756                1           NaN
69     19.699444     30.714804                0           NaN
70     22.826789     37.164823                1           NaN
71     24.609041     36.104824                1           NaN
72     19.893039     30.792718                0           NaN
73     20.554378     31.190868                0           NaN
74     19.550603     34.602756                0           NaN
75     23.619821     36.985669                1           NaN
76     25.150761     33.894094                1           NaN
77     24.477962     35.321466                1           NaN
78     24.004088     35.618803                1           NaN
79     20.759217     32.461666                0           NaN
80     22.493388     36.785170                1           NaN
81     20.008781     32.152922                0           NaN
82     22.425919     34.789785                1           NaN
83     22.153656     37.131777                1           NaN
84     19.566864     30.326934                0           NaN
85     24.991105     34.109794                1           NaN
86     25.549181     33.526245                1           NaN
87     21.762002     33.058613                0           NaN
88     18.989418     30.905568                0           NaN
89     20.216003     33.416102                1           NaN
90     19.689910     31.931043                0           NaN
91     25.922634     35.221576                1           NaN
92     20.670176     32.565178                0           NaN
93     26.517305     35.184529                1           NaN
94     19.615470     31.431998                0           NaN
95     19.630044     33.170074                0           NaN
96     23.213535     30.885397                0           NaN
97     20.286130     32.053375                0           NaN
98     21.234872     36.510559                1           NaN
99     21.735099     36.511278                1           NaN
100    18.310337     32.217838                0           NaN
101    19.510846     29.897477                0           NaN
102    24.686621     33.104764                1           NaN
103    23.417850     30.787174                0           NaN
104    27.194384     36.267507                1           NaN
105    22.943474     37.079116                1           NaN
106    18.424439     31.799402                0           NaN
107    23.506242     34.659765                1           NaN
108    22.091554     31.286594                0           NaN
109    23.982853     36.016354                1           NaN
110    22.690814     35.561787                1           NaN
111    25.234722     32.641362                1           NaN
112    25.094171     34.585239                1           NaN
113    21.190304     35.403479                0           NaN
114    23.222585     30.987008                0           NaN
115    23.696747     32.527442                0           NaN
116    21.078850     32.029984                0           NaN
117    16.866105     28.984730                0           NaN
118    25.102866     33.300230                1           NaN
119    25.276930     35.131361                1           NaN
120    19.213189     31.714158                0           NaN
121    19.245074     32.588764                0           NaN
122    25.313597     35.516462                1           NaN
123    18.439059     30.827822                0           NaN
124    19.647173     32.829767                0           NaN
125    23.729021     40.147170                1           NaN
126    24.778592     34.151667                1           NaN
127    20.860496     29.030638                0           NaN
128    24.601954     32.788175                1           NaN
129    21.788363     32.339722                0           NaN
130    23.102952     34.771847                1           NaN
131    20.018137     32.220930                0           NaN
132    23.846379     36.141446                1           NaN
133    23.783159     36.043496                1           NaN
134    24.961374     33.922848                1           NaN
135    25.023623     34.282668                1           NaN
136    18.836401     35.028108                0           NaN
137    23.062887     35.040754                1           NaN
138    23.114574     35.530813                1           NaN
139    23.640679     38.192279                1           NaN
140    23.631672     34.529809                1           NaN
141    20.411629     32.263992                0           NaN
142    19.574020     31.935886                0           NaN
143    21.457546     31.659810                0           NaN
144    18.124818     31.997288                0           NaN
145    18.990690     32.387963                0           NaN
146    23.542000     32.475193                0           NaN
147    19.640603     30.291557                0           NaN
148    21.989954     33.645903                1           NaN
149    22.302103     32.732379                0           NaN

### Konvertera filer till andra format

In [46]:
"""Hur man konverterar till olika filformat. Se video för fler tutorials"""

#Kopierar och sedan kan vi välja första rutan i excel och ta ctrl + v och så klistras dataframen in där
pokemons.to_clipboard()


#Skapar en ny fil genom din filväg och sparar filen i.
pokemons.to_csv("Data/pokemons_newfile.csv")

### Loc, iloc, []

In [2]:
"""Hur man gör index och slices mot Pandas"""

# Loc är en metod för label-based indexing
# iloc är en metod för integear based indexing (börjar med i - integear)
# [columnnamn] retunerar columnen som en pandas series

'Hur man gör index och slices mot Pandas'

In [14]:
"""iloc står som sagt för intefear based indexing.
i listan så avser det första talet vilken rad (med start från 0 som vanligt)
där alltså 1 avser rad 2.

Det andra numret avser vilken kolumn där 0 avser första kolumnen.

Det användas för att skriva ut ett visst värde. Retunerar värdet av en enskild cell.
"""

#[x,y] eller [rad,kolumn]
#Funkar även med negativ indexing.

pokemons.iloc[:3, 1]

#Genom loc med en label skriver man såhär exv=



#pokemons

0    31.239567
1    36.468215
2    31.441704
Name:  height (cm), dtype: float64

In [15]:
#Fredriks dataframe för att träna iloc och loc


column_values = [f"Column{i}" for i in range(1,5)]
index_values = [chr(i) for i in range (65,72)]

dataframe_example = pd.DataFrame([[f"{ind}{col}" for col in range (1,5)] for ind in index_values],
index = index_values,columns= column_values)

dataframe_example

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [17]:
#Ger alla rader men kolumn 0.

dataframe_example.iloc[:,0]

# Vusar de tre första raderna för kolumn 1. 
dataframe_example.iloc[:3,0]

dataframe_example.iloc[1, :]

dataframe_example.iloc[:3,0]

dataframe_example.iloc[:2, :2]

dataframe_example.iloc[2:4,0:3]

dataframe_example.loc["A":"B","Column2" : "Column4"]

dataframe_example.iloc[[0,2], [1,3]]

#Första hakparanteserna skriver ut en kolumn och den andra indexerar för att skriva ut en specifikt värde.

dataframe_example["Column1"]["D"]

dataframe_example[["Column1", "Column2"]]

  Column1 Column2
A      A1      A2
B      B1      B2
C      C1      C2
D      D1      D2
E      E1      E2
F      F1      F2
G      G1      G2

In [18]:
#Skapar en kopia av dataframen som inte kommer att ändra originalet.

dataframe_example_copy = dataframe_example.copy()

dataframe_example_copy.iloc[0,:] = "JJ"

#Sätter alla celler till 0. 

#dataframe_example_copy[:] = "Jennifer"

dataframe_example_copy.loc["H"] = ["Hej1", "Hej2", "Hej3", "hej4"]

dataframe_example_copy.loc[:, "Column4"] = 1

dataframe_example_copy

dataframe_example_copy.columns = ["Jennifer", "Filip", "Adrian", "Erik"]

dataframe_example_copy.index = [1,2,3,4,5,6,7,8]

# ,inplace = True ger att originaldataframen uppdateras. 

#.drop för att ta bort någon rad eller kolumn.

In [20]:
import numpy as np
import pandas as pd

new_dataframe = pd.DataFrame(np.random.randn(7,4), columns = ["A", "B", "C", "D"])
new_dataframe

new_dataframe["A"] >= 0

#Detta ovan är en boolmask. Får utskrift i en bool om villkoret uppfylls eller ej.

new_dataframe.loc[0, :] >=0

A    False
B    False
C     True
D    False
Name: 0, dtype: bool